<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/StyleSheet/page3.css">
</head>
<body>
    <nav class="navbar"> 
        <div class="left"> 
            <div class="logo"> 
                Welcome  
            </div>
        </div>
        <div class="right"> 
            <div class="link"> 
                <a href="" class="link">Home</a>
                <a href="" class="link">Resume</a>
                <a href="" class="link">Projects</a>
                <a href="" class="link">Blog</a>
            </div>
        </div>
    </nav>

<div class="aboutsec"> 
    <div class="left2"> 
        <div class="subheader"> 
            Mayokun Moses Akintunde.
        </div>
        <div class="subheaderr"> 
            Computer Engineer
        </div>
        <div class="writeup"> 
            Based in Winnipeg, Manitoba. I am passionate about leveraging <br>
            technology to drive meaningful solutions and growth in several industries. <br>
            I am a dedicated computer engineer scheduled to graduate in Fall <br> 
            2024 from the esteemed University of Manitoba. I invite you to <br>
            explore my expertise and rich portfolio of innovative projects. 
        </div>
        <button class="button1"> 
            Resume
        </button>
        <button class="button2"> 
            Projects
        </button>
        <button class="button3"> 
            Blog
        </button>
    </div>
    <div class="right2"> 
        <img src="static/Images/Landing_Page/Computer.jpg" alt="" class="image">
    </div>
</div>

<div class="works"> 
    <div class="w-exp"> 
        Work Experience
    </div>
    <div class="workexperience"> 
        <div class="start"> 
            <div class="work1"> 
                Manitoba <br> Hydro
            </div>
            <div class="workhead2"> 
                May 2023 - Jan 2024. 
            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br>
            <div class="work3"> 
                International College of Manitoba.
            </div>
            <div class="workhead4"> 
                Feb 2021 - Present
            </div>
            <br><br><br><br><br><br><br>
            <div class="work5"> 
                 Greif Inc
            </div>
            <div class="workhead6"> 
                May 2022 - Sept 2022
            </div>
        </div>
        <div class="middle"> 
            <img class="longimg" src="static/Images/Landing_Page/4.jpg"  style="display: none;" alt="">
        </div>
        <div class="end"> 
            <div class="work7"> 
                Database Engineer
            </div>
            <div class="workhead8"> 
                • Setting up, configuring, and repairing mechanical apparatus such as the blade, roller, mandrel and so on of the Prima 2 machine used to create over 10000 cores per day. <br><br>
                • Calculating input values based on provided work order and inputting the values into the control system (Siemen C7-633) to automate the production process. <br><br>
                • Following the company’s standard test procedures to control and maintain the quality of cores produced. <br><br>
                • Special Networking project: Collaborated with two employees to design and implement a network architecture using android tablets, MOXA (Industrial Networking Bridge), and a Server Panel. This network was created to facilitate the transition of the plant into a digital based data entry factory.
            </div>
            <div class="work9"> 
                PASS Instructor
            </div>
            <div class="workhead10"> 
                • Setting up, configuring, and repairing mechanical apparatus such as the blade, roller, mandrel and so on of the Prima 2 machine used to create over 10000 cores per day. <br><br>
                • Calculating input values based on provided work order and inputting the values into the control system (Siemen C7-633) to automate the production process. <br><br>
                • Following the company’s standard test procedures to control and maintain the quality of cores produced. <br><br>
                • Special Networking project: Collaborated with two employees to design and implement a network architecture using android tablets, MOXA (Industrial Networking Bridge), and a Server Panel. This network was created to facilitate the transition of the plant into a digital based data entry factory.            </div>
            <div class="work11"> 
                Student Coop,
            </div>
            <div class="workhead12"> 
                • Setting up, configuring, and repairing mechanical apparatus such as the blade, roller, mandrel and so on of the Prima 2 machine used to create over 10000 cores per day. <br><br>
                • Calculating input values based on provided work order and inputting the values into the control system (Siemen C7-633) to automate the production process. <br><br>
                • Following the company’s standard test procedures to control and maintain the quality of cores produced. <br><br>
                • Special Networking project: Collaborated with two employees to design and implement a network architecture using android tablets, MOXA (Industrial Networking Bridge), and a Server Panel. This network was created to facilitate the transition of the plant into a digital based data entry factory.            </div>
        </div>
    </div>
</div>

<div class="sayhi"> 
    <div class="hi"> 
        <div class="hihead1"> 
            Wanna reach out?
        </div>
        <div class="hihead2"> 
            <span class="hihead3">Leave me a message</span>
        </div>
    </div>
    <div class="sayhiimg"> 
        <img class="hiimg" src="static/Images/Landing_Page/say hi.jpg" alt="">
    </div>
</div>

<div class="contactsec"> 
    <div class="phone"> 
        <div class="top"> 
            Phone
        </div>
        <div class="num"> 
            <a class="numlink" href="">204-869-1025</a>
        </div>
    </div>
    <div class="email"> 
        <div class="top2"> 
            Email
        </div>
        <div class="mail"> 
            <a class="maillink" href="">akintundemayokun@gmail.com</a>
        </div>
    </div>
    <div class="follow"> 
        <div class="top3"> 
            Follow me
        </div>
        <div class="socials"> 
            <a href=""><img class="linked" src="static/Images/linkedin.png"  alt="" style="width: 100px; max-height: 100px;"></a>
        </div>
    </div>
</div>

<div class="footer"> 
    &copy; 2024 By Mayokun Moses Akintunde. <br>
</div>

</body>