<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Users/akintundemayokun/Desktop/Personal Website/static/StyleSheet/page3.css">
</head>
<body>
    <nav class="navbar"> 
        <div class="left"> 
            <div class="logo"> 
                Nav
            </div>
        </div>
        <div class="center"> 
            <div class="link"> 
                <a href="" class="link">Contact</a>
                <a href="" class="link">Blog</a>
            </div>
        </div>
        <div class="right"> 
            <a href=""><img class="search" src="/Users/akintundemayokun/Desktop/Personal Website/static/Images/search.png" alt=""></a>
        </div>
    </nav>

    <div class="header"> 
        Projects
    </div>
    
    <div class="project1"> 
        <div class="first"> 
            <div class="head"> 
                Project Name 01
            </div>
            <div class="sub-head"> 
                <div class="subheaddd"> 
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum enim corrupti deleniti incidunt, eveniet veniam voluptate dicta repellendus. Fugiat praesentium recusandae, eaque quibusdam quidem reiciendis quis asperiores necessitatibus sed culpa vel assumenda odit corrupti, officia repellat eligendi aliquam ducimus velit? Ipsa, in dolorum accusantium quam saepe vero quos fugiat! Inventore eligendi illo voluptatem debitis id voluptas rem minus voluptates ducimus, eum nostrum molestias nulla iste hic, totam earum similique soluta placeat quam optio doloremque molestiae autem illum! Quod qui debitis, doloribus unde labore expedita aliquam eveniet porro cum eaque id quibusdam, odit error iure, quisquam nobis consequatur omnis asperiores inventore.
                </div>
                <img class="imgproj1" src="/Users/akintundemayokun/Desktop/Personal Website/static/Images/Blogging_Page/proj1.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="project2"> 
        <div class="first2"> 
            <div class="head2"> 
                Project Name 02
            </div>
            <div class="sub-head2"> 
                <div class="subheaddd2"> 
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum enim corrupti deleniti incidunt, eveniet veniam voluptate dicta repellendus. Fugiat praesentium recusandae, eaque quibusdam quidem reiciendis quis asperiores necessitatibus sed culpa vel assumenda odit corrupti, officia repellat eligendi aliquam ducimus velit? Ipsa, in dolorum accusantium quam saepe vero quos fugiat! Inventore eligendi illo voluptatem debitis id voluptas rem minus voluptates ducimus, eum nostrum molestias nulla iste hic, totam earum similique soluta placeat quam optio doloremque molestiae autem illum! Quod qui debitis, doloribus unde labore expedita aliquam eveniet porro cum eaque id quibusdam, odit error iure, quisquam nobis consequatur omnis asperiores inventore.
                </div>
                <img class="imgproj2" src="/Users/akintundemayokun/Desktop/Personal Website/static/Images/Blogging_Page/proj2.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="project3"> 
        <div class="first3"> 
            <div class="sub-head3"> 
                <div class="head3"> 
                    Project Name 03
                </div>
                <div class="subheaddd3"> 
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum enim corrupti deleniti incidunt, eveniet veniam voluptate dicta repellendus. Fugiat praesentium recusandae, eaque quibusdam quidem reiciendis quis asperiores necessitatibus sed culpa vel assumenda odit corrupti, officia repellat eligendi aliquam ducimus velit? Ipsa, in dolorum accusantium quam saepe vero quos fugiat! Inventore eligendi illo voluptatem debitis id voluptas rem minus voluptates ducimus, eum nostrum molestias nulla iste hic, totam earum similique soluta placeat quam optio doloremque molestiae autem illum! Quod qui debitis, doloribus unde labore expedita aliquam eveniet porro cum eaque id quibusdam, odit error iure, quisquam nobis consequatur omnis asperiores inventore.
                </div>
                <img class="imgproj3" src="/Users/akintundemayokun/Desktop/Personal Website/static/Images/Blogging_Page/proj3.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="project4"> 
        <div class="first4"> 
            <div class="head4"> 
                Project Name 04
            </div>
            <div class="sub-head4"> 
                <div class="subheaddd4"> 
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum enim corrupti deleniti incidunt, eveniet veniam voluptate dicta repellendus. Fugiat praesentium recusandae, eaque quibusdam quidem reiciendis quis asperiores necessitatibus sed culpa vel assumenda odit corrupti, officia repellat eligendi aliquam ducimus velit? Ipsa, in dolorum accusantium quam saepe vero quos fugiat! Inventore eligendi illo voluptatem debitis id voluptas rem minus voluptates ducimus, eum nostrum molestias nulla iste hic, totam earum similique soluta placeat quam optio doloremque molestiae autem illum! Quod qui debitis, doloribus unde labore expedita aliquam eveniet porro cum eaque id quibusdam, odit error iure, quisquam nobis consequatur omnis asperiores inventore.
                </div>
                <img class="imgproj4" src="/Users/akintundemayokun/Desktop/Personal Website/static/Images/Blogging_Page/proj4.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="contactsec"> 
        <div class="phone"> 
            <div class="top"> 
                Phone
            </div>
            <div class="num"> 
                <a class="numlink" href="">123-456-789, (123)-456-789</a>
            </div>
        </div>
        <div class="email"> 
            <div class="top2"> 
                Email
            </div>
            <div class="mail"> 
                <a class="maillink" href="">info@mysite.com</a>
            </div>
        </div>
        <div class="follow"> 
            <div class="top3"> 
                Follow me
            </div>
            <div class="socials"> 
                <a href=""><img class="linked" src="C:\Users\willi\Desktop\Liam!\FRONT END DEV CLASS\MY HTML\linkedin.png" alt=""></a>
            </div>
        </div>
    </div>
    
    <div class="footer"> 
        &copy; 2024 By Name Surname. <br>
        Powered and Secured by <span class="by">Name</span>
    </div>

</body>
</html>

































<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="StyleSheet/page3.css">
</head>
<body>
    <nav class="navbar"> 
        <div class="left"> 
            <div class="logo"> 
                Welcome  
            </div>
        </div>
        <div class="right"> 
            <div class="link"> 
                <a href="" class="link">Home</a>
                <a href="" class="link">About</a>
                <a href="" class="link">Feature</a>
                <a href="" class="link">Contact</a>
            </div>
        </div>
    </nav>

    <div class="header"> 
        Projects
    </div>
    
    <div class="project1"> 
        <div class="first"> 
            <div class="head"> 
                Project Name 01
            </div>
            <div class="sub-head"> 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum enim corrupti deleniti incidunt, eveniet veniam voluptate dicta repellendus. Fugiat praesentium recusandae, eaque quibusdam quidem reiciendis quis asperiores necessitatibus sed culpa vel assumenda odit corrupti, officia repellat eligendi aliquam ducimus velit? Ipsa, in dolorum accusantium quam saepe vero quos fugiat! Inventore eligendi illo voluptatem debitis id voluptas rem minus voluptates ducimus, eum nostrum molestias nulla iste hic, totam earum similique soluta placeat quam optio doloremque molestiae autem illum! Quod qui debitis, doloribus unde labore expedita aliquam eveniet porro cum eaque id quibusdam, odit error iure, quisquam nobis consequatur omnis asperiores inventore.
            </div>
        </div>
        <div class="second"> 
            <img class="imgproj1" src="Images/Blogging_Page/proj1.jpg" alt="">
        </div>
    </div>

    <div class="project2"> 
        <div class="first2"> 
            <div class="head2"> 
                Project Name 02
            </div>
            <div class="sub-head2"> 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum enim corrupti deleniti incidunt, eveniet veniam voluptate dicta repellendus. Fugiat praesentium recusandae, eaque quibusdam quidem reiciendis quis asperiores necessitatibus sed culpa vel assumenda odit corrupti, officia repellat eligendi aliquam ducimus velit? Ipsa, in dolorum accusantium quam saepe vero quos fugiat! Inventore eligendi illo voluptatem debitis id voluptas rem minus voluptates ducimus, eum nostrum molestias nulla iste hic, totam earum similique soluta placeat quam optio doloremque molestiae autem illum! Quod qui debitis, doloribus unde labore expedita aliquam eveniet porro cum eaque id quibusdam, odit error iure, quisquam nobis consequatur omnis asperiores inventore.
            </div>
        </div>
        <div class="second2"> 
            <img class="imgproj2" src="Images/Blogging_Page/proj2.jpg" alt="">
        </div>
    </div>

    <div class="project3"> 
        <div class="first3"> 
            <div class="head3"> 
                Project Name 03
            </div>
            <div class="sub-head3"> 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum enim corrupti deleniti incidunt, eveniet veniam voluptate dicta repellendus. Fugiat praesentium recusandae, eaque quibusdam quidem reiciendis quis asperiores necessitatibus sed culpa vel assumenda odit corrupti, officia repellat eligendi aliquam ducimus velit? Ipsa, in dolorum accusantium quam saepe vero quos fugiat! Inventore eligendi illo voluptatem debitis id voluptas rem minus voluptates ducimus, eum nostrum molestias nulla iste hic, totam earum similique soluta placeat quam optio doloremque molestiae autem illum! Quod qui debitis, doloribus unde labore expedita aliquam eveniet porro cum eaque id quibusdam, odit error iure, quisquam nobis consequatur omnis asperiores inventore.
            </div>
        </div>
        <div class="second3"> 
            <img class="imgproj3" src="Images/Blogging_Page/proj3.jpg" alt="">
        </div>
    </div>

    <div class="project4"> 
        <div class="first4"> 
            <div class="head4"> 
                Project Name 04
            </div>
            <div class="sub-head4"> 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum enim corrupti deleniti incidunt, eveniet veniam voluptate dicta repellendus. Fugiat praesentium recusandae, eaque quibusdam quidem reiciendis quis asperiores necessitatibus sed culpa vel assumenda odit corrupti, officia repellat eligendi aliquam ducimus velit? Ipsa, in dolorum accusantium quam saepe vero quos fugiat! Inventore eligendi illo voluptatem debitis id voluptas rem minus voluptates ducimus, eum nostrum molestias nulla iste hic, totam earum similique soluta placeat quam optio doloremque molestiae autem illum! Quod qui debitis, doloribus unde labore expedita aliquam eveniet porro cum eaque id quibusdam, odit error iure, quisquam nobis consequatur omnis asperiores inventore.
            </div>
        </div>
        <div class="second4"> 
            <img class="imgproj4" src="Images/Blogging_Page/proj4.jpg" alt="">
        </div>
    </div>

    <div class="contactsec"> 
        <div class="phone"> 
            <div class="top"> 
                Phone
            </div>
            <div class="num"> 
                <a class="numlink" href="">123-456-789, (123)-456-789</a>
            </div>
        </div>
        <div class="email"> 
            <div class="top2"> 
                Email
            </div>
            <div class="mail"> 
                <a class="maillink" href="">info@mysite.com</a>
            </div>
        </div>
        <div class="follow"> 
            <div class="top3"> 
                Follow me
            </div>
            <div class="socials"> 
                <a href=""><img class="linked" src="Images/linkedin.png"  alt="" style="width: 100px; max-height: 100px;"></a>
            </div>
        </div>
    </div>
    
    <div class="footer"> 
        &copy; 2024 By Name Surname. <br>
        Powered and Secured by <span class="by">Name</span>
    </div>

</body>
</html> -->